PORT=5000
MONGODB_URI=mongodb://localhost:27017/spotify
ADMIN_EMAIL=karthi0858j@gmail.com
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=dfaptcnrl
CLOUDINARY_API_KEY=523354614588686
CLOUDINARY_API_SECRET=yO408w1SHVrLN6GXOsmGlTkX0zE


CLERK_PUBLISHABLE_KEY=pk_test_c3VubnktY2FyZGluYWwtMTAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_SOiQNeRuViG8TN3DokLa4KxmURNfXpojOzgyFOX00V